

/* mobile Horizontal
----------------------------------------- */

@media  (max-width: 767px) {
  body {
    padding-top: 45px;
    padding-left:0;
    padding-right:0;
  }
  #t3-header {
    background: none;
    background: @blueDark;
    padding: 0 20px 20px 20px;
    height:330px;
  }
  #t3-header .topRight h3 {
    font-size:24px;
  }
  #t3-header .topRight li {
    text-align: center;
    line-height: 1.1em;
    padding: 10px 20px;
    font-size:20px;
  }
  #t3-mainnav .nav-logo {
    float: left;
    margin: 5px;
    height: 35px;
  }
  .t3-mainnav .navbar .btn-navbar {
    margin: 4px 10px 4px;
  }
  .t3-mainnav .navbar-inner{
    min-height:35px;
  }
  .navbar-inner {
    min-height: 55px;
  }
  #t3-content, .t3-sl {
    padding-left: 20px;
    padding-right: 20px;
  }
  .breadcrumb {
    padding: 16.5px 20px;
  }
  .t3-navhelper, .t3-footer {
    margin-left: 0px;
    margin-right: 0px;
  }

}







    /* tablet vertical
    ----------------------------------------- */

@media (min-width: 768px) and (max-width: 991px) {

}


