/** 
 *------------------------------------------------------------------------------
 * @package       T3 Framework for Joomla!
 *------------------------------------------------------------------------------
 * @copyright     Copyright (C) 2004-2013 JoomlArt.com. All Rights Reserved.
 * @license       GNU General Public License version 2 or later; see LICENSE.txt
 * @authors       JoomlArt, JoomlaBamboo, (contribute to this project at github 
 *                & Google group to become co-author)
 * @Google group: https://groups.google.com/forum/#!forum/t3fw
 * @Link:         http://t3-framework.org 
 *------------------------------------------------------------------------------
 */

h2{
  color:@white;
  font-size:32px;
  font-weight: 400;
  border-bottom: 1px dotted @white;
  font-family: 'Open Sans';
  line-height: 1.5em;
  margin-bottom: 1em;
}
a:hover{
  text-decoration:none;
}
.undefined-sticky-wrapper{
  margin:0 auto;
  padding:0;
}

.sticky-wrapper{
  margin:0 auto;
  padding:0;
}

.is-sticky{
  margin:0 auto;
  padding:0;
}
.menustick{
  width:100% !important;
}


#t3-header{

  background: url(../../../images/background-header.jpg) repeat top center fixed;
  height:450px;
  padding:0;

  .logo{

    margin-top:30px;

    h1{
      color:@white;
      text-transform: uppercase;
      font-size:40px;
      font-weight: 800;
      border-bottom: 1px solid @white;
      font-family: 'Open Sans';
      line-height: 1.5em;
    }
    p{
      color:@white;
      font-size:32px;
      font-weight: 400;
      font-family: 'Open Sans';
      line-height: 1.2em;
    }


  }


  .topRight{
    background: @white;
    border-radius: 0 0 30px 30px;
    color: #FB9D45;
    font-size: 24px;
    padding: 0 0 25px;

    h3{
      background:#222222;
      color: @white;
      border-bottom: dotted 1px @white;
      margin: 0;
      padding: 10px 0;
      font-size:32px;
      font-weight: 400;
      font-family: 'Open Sans';
      line-height: 1.2em;
      text-align: center;
    }
    ul{
      margin:0;
    }
    li{
      background-image: url("../../../images/background.png");
      list-style: none;
      color: black;
      font-size: 24px;
      border-bottom: dotted 1px @black;
      padding: 20px 30px;
      text-align: left;

      span{
        color:#1884c1;
        float: right;
      }
    }

    p{
      margin:15px 30px 0;
      background:url("../../../images/credit-cards.png") no-repeat left;
      text-align: center;

      a{
        background:#65b24c;
        color: @white;
      }

    }


  }

  .gold{
    margin: 20px 0;

    h3{
      font-size: 24px;
      color: @white;
      font-weight: 400;
      font-family: 'Open Sans';
      line-height: 1.2em;
    }

    .moduletable{
      width:80%;
      margin:0 auto;
    }

  }

}


#t3-mainnav{

  border:none;

  .navbar-inner{
    background: @grayDarker;
    border:none;
  }

  ul{
    float:right;
  }

  .nav-logo{
    float:left;
    margin:5px;
  }

}
.thanks{
  color:@grayDarker;
  h2{
    color:@grayDarker;
    border-bottom: 1px dotted @grayDarker;
  }
}


.about{

  background:url("../../../images/background-big-blur.jpg") repeat fixed;
  color:@white;

}

.speakers{
  color:@grayDarker;
  background:@white;

  h2{
    color:@grayDarker;
    border-bottom: 1px dotted @grayDarker;
  }
}
.specialthanks{
  background:url("../../../images/background-big-blur.jpg") repeat center fixed;
  color:@white;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  font-family: 'Open Sans';
  line-height: 1.2em;

  img{
    background:@white;
    padding:5px;
    width:140px;
  }

  h3{
    color:@white;
  }
  p{
    font-size:14px;
  }

  .email{
    padding:5px;
    margin:0 10px;
  }

}

.lineup{

  background:url("../../../images/background-big-blur.jpg") repeat bottom fixed;
  color:@white;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  font-family: 'Open Sans';
  line-height: 1.2em;

}


.program{
  color:@grayDarker;
  background:@white;

  h2{
    color:@grayDarker;
    border-bottom: 1px dotted @grayDarker;
  }
}

.venue{
  color:@grayDarker;
  background:@white;
  h2{
    color:@grayDarker;
    border-bottom: 1px dotted @grayDarker;
  }
}


.bronze{
  background:url("../../../images/background-big-blur.jpg") no-repeat top fixed;
  color:@white;
  h2{
    font-weight: 400;
    font-family: 'Open Sans';
    line-height: 1.2em;
  }

  img{
    background:@white;
    padding:5px;
  }

  .custom{
    text-align:center;
  }
  a{
    color:@white;
  }
  .t3-module{
    margin-bottom:0;
  }

}

.contact{
  color:@grayDarker;
  background:@white;
  h2{
    color:@grayDarker;
    border-bottom: 1px dotted @grayDarker;
  }
}

.volunteers{

  font-size:10px;
  background:@white;
  z-index:-999;

  a{
    color:@black;
  }

  h2{
    font-size:16px;
    color: @black;
  }


  .volunteer{
    float:left;
    width:100px;
    height:85px;
    text-align: center;
  }
}


#t3-content{

  h2{
    color:@black;
    margin:0;
  }

}


// ---------------------------------------------------------
// FOOTER
// ---------------------------------------------------------

.t3-footer {
  background: #343434;
  color: @white;
  border:none;

  ul{
    margin:0;
    padding: 0;
    width:80%;
  }
  li{
    display: inline;
    margin: 0 3px;
  }

  // links

  a:hover, a:active, a:focus {
    color: @white;
  }
  .nav > li > a {
    display: inline;
  }
}

// Foot Nav
// --------
.t3-footnav .module-title {
  color: @white;
}


// Copyright
// ---------
.t3-copyright {
border:none
}


// ---------------------------------------------------------
// Joomla nav module (Main menu)
// ---------------------------------------------------------

.menustick {
  #t3-mainnav {
    ul {
      float: right;
      list-style: none outside none;
      margin: 0;

      li {
        float: left;

        a {
          border-right: 1px solid #151515;
          border-top: 0 none;
          color: #A3A3A3;
          display: block;
          float: none;
          padding: 27.5px 20px;
          text-shadow: none;
        }

        a:hover {
          background: #000;
        }
      }
    }
  }
}

#off-canvas-nav {
  ul {
    margin: 0;

    li {
      float: none;

      a {
        border-bottom: 1px solid #EEEEEE;
        border-radius: 0 0 0 0;
        color: #A3A3A3;
        display: block;
        font-weight: bold;
        padding: 10px 20px;
        text-shadow: none;
      }
      a:hover {
        background: #000;
      }
    }
  }
}


#back-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 10px;
  padding: 10px 15px;
  color: #fff;
  background: #111;
  background: #111;
}