<!-- Begin MailChimp Signup Form -->

<div id="mc_embed_signup rsform-block rsform-block-name">
    <form action="//joomladay.us5.list-manage.com/subscribe/post?u=8616d9fdc766bccf255f221ca&amp;id=421292c1c2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>

        <div class="mc-field-group">
            <label for="mce-NAME" class="formControlLabel">Name </label>
            <input type="text" value="" name="NAME" class="rsform-input-box" id="mce-NAME">
        </div>

        <div class="mc-field-group">
            <label for="mce-EMAIL" class="formControlLabel">Email Address  <span class="asterisk ">*</span>
            </label>
            <input type="email" value="" name="EMAIL" class="required email rsform-input-box" id="mce-EMAIL">
        </div>

        <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;"><input type="text" name="b_8616d9fdc766bccf255f221ca_421292c1c2" tabindex="-1" value=""></div>
        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary" ></div>
    </form>
</div>


<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script type='text/javascript'>
    (function($) {
        window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='NAME';ftypes[1]='text';
    }(jQuery));
    var $mcj = jQuery.noConflict(true);
</script>
<!--End mc_embed_signup-->

